
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 448px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background: white;
}

.content {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}

.header {
    margin-bottom: 16px;
}

.footer {
    position: sticky;
    bottom: 0;
    padding: 16px;
    background: white;
}
