.container {
    padding: 0 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
}

.status {
    display: flex; 
    justify-content: center;
    margin-top: 16px;
}

.statusLoading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.loadingText {
    font-weight: 700;
}

.statusError {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.button {
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #d1d5db;
    border: 2px solid black;
    font-size: 14px;
    color: black;
    box-shadow: 2px 2px 0px #71717a, -2px -2px 0px #ffffff;
    cursor: pointer;
    outline: none;
}